*
{
	padding: 0;
	margin: 0;
}

header
{ 	
	width: auto !important;
}
body
{
	font-family: 'Allerta', sans-serif;
	margin: 0;
}

.titulo
{
	line-height: 55px;
	font-family: 'Montserrat', sans-serif;
	margin-bottom: 45px !important;
	padding-top: 3px;
	
}

.titulo1
{
	line-height: 34px;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 54px !important;
    padding-top: 250px;
    font-size: 17px;
    text-align: justify;
}

.listaDatos li
{
	margin: 15px;
}

#DatosPersonales
{
	padding-top: 120px;
}

.title-b
{
	font-size: 30px;
	margin-top: 60px;
	margin: 34px;
}

.Datos
{
	color: #1f313c;
	margin-bottom: 60px !important;
}

.portada
{
	color: white;	
	height: 600px;
}

.portada button
{
	margin-bottom: 70px;
}

.menu
{
	font-size: 24px;
    display: inline-block;
    right: -250px;
    margin-top: 10px;
    position: relative;
}

.letrahome:hover
{
	color: #2b2ee6;
}

.menu li
{
	font-size: 18px;
	margin-left: 30px;
	display: inline-block;
}

.menu a 
{
	text-decoration: none;
	font-size: 25px;
    font-weight: 600;
}

.Logotipo
{
	display: inline-block;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-left: 60px;
    margin-top: 15px;
}

.contenedor
{
	width: 800px;
	margin: auto;
	position: relative;
}
.contenedorPresentacion
{
	padding-right: 300px;
}

.background
{
	background-image: url('../images/escolares1.jpg');
	height: 900;
	background-size: cover;
}

.Data 
{
	
	border: 1px solid #1f313c;
	padding: 15px 55px;
	margin: 10px 10px 40px 10px;
	border-radius: 20px;
}

.Data1 
{
	
	padding: 15px 55px;
	margin: 0px 10px 40px 10px;
	background: #eae6e6;
}

.containerNav
{
	background-color: rgba(0, 0, 0, 0.959);
	height: 100px;
	width: 100%;
	position: fixed;
	z-index: 100;
	float: left;
}

#Proyectos
{
	padding-top: 100px;
	height: auto;
}

.TablaProyectos
{
	text-align: center;
}

.containerNav ul 
{
	list-style: none;
	overflow: hidden; 
}

#Gustos
{
	padding-top: 100px;
    height: auto;
}

.TituloIzquierda
{
	margin: 20px 50px;
}

.contenedor-data-b p
{
	font-family: Arial, Helvetica, sans-serif;
	color:rgba(0, 0, 0, 0.795);
	margin: 50px;
	text-align: justify;
	
}

.contenedor-data-c p
{
	font-family: Arial, Helvetica, sans-serif;
	color:rgba(0, 0, 0, 0.795);
	margin: 50px;
	text-align: justify;
	margin-left: 638px;
    padding-top: 104px;
    margin-right: 0px;
}

.Data ol
{
	padding: 0;
}

.Data.altoData
{
	height: 380px;
}

.derecha
{
	float: right;
	position: relative;
	top: -0px;
	width: 200px;
	border-radius: 50px;
}

.izquierda
{
	float: left;
	position: relative;
	top: 50px;
	width: 595px;
	height: 320px;
}

.sprit
{
	display: block;
	background-position: top left;
	background-image: url(../images/parallax.jpg);
	text-indent: -9999px;
	background-repeat: no-repeat;
}

.sprit:hover
{
	background-position: -600px 0;
}

.contenedor-Data-a
{
	padding-left: 20px;
}

.contenedor-Data-b
{
	margin-left: 370px;
	position: relative;
	bottom: 70px;
	padding-top: 60px;
}

.header
{
	margin: 0px;
}

.button
{
	border-radius: 12px;
	background: #fd324e;
	color: white;
	border: none;
	padding: 7px 12px;
	font-size: 18px;
	cursor: pointer;
	text-decoration: none;
}

.footer
{
	background: #000000	;
	padding: 50px 10px;
}

table
{
	width: 100%;
}

th
{
	background: #273b47;
	color: white;
}

th
{
	padding: 10px 20px;
	text-align: left;
}

table, td , th
{
	border: 1px solid #273b47;
	border-collapse: collapse;

}

td
{
	padding: 15px;
}

.tabla
{
	margin:50px;
}

.titulo a
{
	font-family: 'Kurale', serif !important;
    font-size: 60px;
    margin-top: 0px;
    margin-bottom: 0px;
    color: #ffffff;
    font-weight: 800;
    text-decoration: none;
}

.titulo
{
	margin: 0;
}

.letrahome
{
	color:rgb(250, 250, 250);
}

.portada1 
{	
	height: 80px;
}

.video
{
	margin-top: 50px;
    margin-left: 250px;
}

.animated
{
	
element.style {
}
.animated {
	
    -webkit-animation-duration: .5s;
    -webkit-animation-timing-function: ease;
    -webkit-animation-fill-mode: both;
    -moz-animation-duration: .5s;
    -moz-animation-timing-function: ease;
    -moz-animation-fill-mode: both;
    -o-animation-duration: .5s;
    -o-animation-timing-function: ease;
    -o-animation-fill-mode: both;
    -ms-animation-duration: .5s;
    -ms-animation-timing-function: ease;
    -ms-animation-fill-mode: both;
    animation-duration: .5s;
    animation-timing-function: ease;
    animation-fill-mode: both;
}